$default-font: "robotoRegular", sans-serif;
$robotoLight: "robotoLight", sans-serif;
$robotoRegular: "robotoRegular", sans-serif;
$robotoBold: "robotoBold", sans-serif;


@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/utilities/_sizing";


$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 1199px, xl: 1440px);

$gutter: $grid-gutter-width;


